# ER ATIA 12/22/2020

## Purpose: Add county to zipcodes

In [1]:
## dependencies
import zipcodes
import pandas as pd

In [2]:
va = pd.read_csv('data/va_zip.csv')

va

         zip
0        873
1       1001
2       1008
3       1010
4       1011
...      ...
10471  99682
10472  99683
10473  99687
10474  99688
10475  99694

[10476 rows x 1 columns]

In [3]:
va['zip'] = va['zip'].astype(str)

In [4]:
va['zip'] = va['zip'].apply(lambda x: x.zfill(5))

va

         zip
0      00873
1      01001
2      01008
3      01010
4      01011
...      ...
10471  99682
10472  99683
10473  99687
10474  99688
10475  99694

[10476 rows x 1 columns]

In [12]:
for i in range(0, len(va)):
    zipcode = va.iloc[i,0]
    match = zipcodes.matching(zipcode)
    if len(match) != 0:
        va.loc[i, 'county'] = match[0]['county']

In [22]:
for i in range(0, len(va)):
    zipcode = va.iloc[i,0]
    match = zipcodes.matching(zipcode)
    if len(match) != 0:
        va.loc[i, 'state'] = match[0]['state']

In [26]:
va['county'] = va['county'].str.replace(' County', '')
va['county'] = va['county'].str.replace(' Borough', '')

In [27]:
va

         zip             county state
0      00873                NaN   NaN
1      01001            Hampden    MA
2      01008            Hampden    MA
3      01010            Hampden    MA
4      01011            Hampden    MA
...      ...                ...   ...
10471  99682    Kenai Peninsula    AK
10472  99683  Matanuska-Susitna    AK
10473  99687  Matanuska-Susitna    AK
10474  99688  Matanuska-Susitna    AK
10475  99694  Matanuska-Susitna    AK

[10476 rows x 3 columns]

In [20]:
va.to_csv('data/va_zip_county.csv', index= False)

In [21]:
zipcodes.matching("01001")

[{'zip_code': '01001',
  'zip_code_type': 'STANDARD',
  'active': True,
  'city': 'Agawam',
  'acceptable_cities': [],
  'unacceptable_cities': [],
  'state': 'MA',
  'county': 'Hampden County',
  'timezone': 'America/New_York',
  'area_codes': ['413'],
  'world_region': 'NA',
  'country': 'US',
  'lat': '42.0658',
  'long': '-72.6209'}]